<%= javascript_tag do %>
  var width = window.screen.availWidth;
  var width = window.screen.availHeight;
<% end %>

<div style='width: 1440px;'>
  <div id="map" style='width: 1440px; height: 700px;'></div>
</div>

<%= latitude %>
,
<%= longitude %>
<br>
<%= user_ip %>

<%= javascript_tag do %>
	handler = Gmaps.build('Google');
  handler.buildMap(
    {internal: {id: 'map'}},
    function(){
      handler.map.centerOn([<%= latitude %>, <%= longitude %>]);
      handler.getMap().setZoom(8);

      markers = handler.addMarkers(<%=raw @hash.to_json %>);

      handler.bounds.extendWith(markers);
	    handler.fitMapToBounds();
    });

<% end %>
